package org.jboss.seam.example.test.booking.graphene;

@Repeat(@REPEATNUMBER@)
public class SimpleBooking@USERNUMBER@Test extends SimpleBookingTestBase {

    @Override
    public int userNumber() {
        return @USERNUMBER@;
    }
    
}
